body {
    background-image: radial-gradient(#2d6b8a, #374ba3);
}

.container {
    max-width: inherit;
}

img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: transparent;
}

.contruction-content {
    color: white;
    font-size: 75px;
}